.events__ {
    &container {
        gap: 1.5rem;
        grid-template-columns: repeat(3, 1fr);
    }
    &content {
        position: relative;
        $container-color: #fff;
        border-radius: .5rem;
        box-shadow: 0 2px 4px rgba(0,0,0,.15);
        transition: .3s;
        padding: 1rem;
        justify-self: center;
    }
    &content:hover {
        box-shadow: 0 4px 8px rgba(0,0,0,.15);
    }
    &icon {
        display: block;
        font-size: 1.5rem;
        color: var(--first-color);
        margin-bottom: var(--mb-1);
    }
    &title {
        font-size: var(--h3-font-size);
        margin-bottom: var(--mb-1);
        font-weight: var(--font-medium);
    }
    &button {
        cursor: pointer;
        font-size: var(--small-font-size);
    }
    &img {
        height: 200px;
    }
    
}