/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ubuntu:ital,wght@1,300;1,400&display=swap');

/* Global css */

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: $primary-color;
}
body.light-theme {
  background-color: $primary-white;
  color: $primary-color;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  &::-webkit-scrollbar {
    width: 0.25rem;
  }
  &::-webkit-scrollbar-track {
    background: $primary-white;
  } 
  &::-webkit-scrollbar-thumb {
    background-color: $primary-white;
    outline: none;
  }
}
ul {
  list-style: none;
}


.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main{
  display: flex;
  background: $primary-color;
  width: calc(100% - 256px);
  max-width: calc(100% - 256px);
  min-height: calc(100vh - 56px);
  margin-left: 256px;
  margin-top: 56px;
  padding: 16px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.grid {
  display: grid;
  gap: 1.5rem;
}