/* Globl variables */


/* Colors */
$primary-color: #0b1b34;
$primary-black: #000000;
$primary-white: #FFFFFF;



/* Fonts */

/* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
$big-font-size: 2rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1.125rem;
$normal-font-size: .938rem;
$small-font-size: .813rem;
$smaller-font-size: .75rem;


